body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('image/background.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    font-size: 24px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.3s;
}

#playAgain {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    font-size: 24px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.3s;
}

#startButton:hover {
    background-color: rgba(200, 0, 0, 0.9);
}

#playAgain:hover {
    background-color: rgba(200, 0, 0, 0.9);
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    display: none;
}

#instructions h2 {
    margin-bottom: 20px;
}

.controls {
    margin: 10px 0;
}

.controls p {
    margin: 5px 0;
}

#understoodButton {
    margin-top: 200px;
    align-items:center;
    padding: 10px 30px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#understoodButton:hover {
    background-color: white;
}

#playerNames, #controlSettings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 70%;
}

.key-input {
    margin: 5px;
    padding: 5px;
    width: 50px;
    text-align: center;
}
