body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: url('image/background.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.button {
    padding: 20px 50px;
    font-size: 24px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.3s;
    margin: 10px;
}

#startButton {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: rgba(200, 0, 0, 0.9);
}


#playerNames, #controlSettings, #numberPlayers, #endGame-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between   ;
    flex-direction: column;
    min-width: 70%;
    min-height: 40%;
}

#player-controls-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.key-input {
    margin: 5px;
    padding: 5px;
    width: 70px;
    text-align: center;
}

#mapSelection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000; /* Superposition */
}

#map-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.map {
    text-align: center;
    cursor: pointer;
}

.map img {
    height: 35%;
    min-height: 200px;
    border: 2px solid transparent;
    transition: border 0.3s;
    image-rendering: pixelated;
}

.map img:hover {
    border: 2px solid #61dafb;
}

.map p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

#mapSelection h2 {
    height: 10%;
    color:  white;
}