body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #7ec850;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

#map {
    display: grid;
    grid-template-columns: repeat(20, 1fr); 
    width: 100vh;
    height: 100vh;
    background-color: #333;
  }

.cell {
    background-color: #fff;
    border: 0px solid #ccc;
    transition: background-color 0.3s ease;
}

.tank {
    position: absolute;
    border: 2px solid #000;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}
.tank .canon {
    position: absolute;
    width:20%;
    height: 100%;
    background-color: black;
    top: -40%;
    left: 40%;
}

.bullet {
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-50%,-50%);
}